
<%- include('../partials/header') %>

<section class="home">
    <div class="home-image">
        <img src="/images/food.jpg" alt="Food">
    </div>
    <div class="home-text">
        <h2>WELCOME TO CHEF AUGUST'S DELIGHTS</h2>
        <p>
            I am a well known cook with years of experience in professional
            kitchens. I have trained under some of the best chefs in the world, 
            including Gordon Ramsay and Jamie Oliver. I have also worked in some 
            of the most exqusite restaurants in the world, including Raising Cane's 
            and Chick-fil-A. On this website I will be sharing my top secret recipes.
            Go to the recipes page to see them!
        </p>
    </div>
</section>

<%- include('../partials/footer') %>
