
<%- include('../partials/header') %>

<section class="home">
    <div class="home-image">
        <img src="/images/your-image.jpg" alt="Description of your image">
    </div>
    <div class="home-text">
        <h2>Your Heading Here</h2>
        <p>
            Your paragraph text here. Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit...
        </p>
    </div>
</section>

<%- include('../partials/footer') %>
